<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>

    <!-- Controller Bean -->
<!--    <bean name="/hello" class="springbook.temp.HelloController"/>-->
<!--    <bean name="/hello.html" class="springbook.temp.HelloController"/>-->
<!--    <bean name="/hello.json" class="springbook.temp.HelloController"/>-->
<!--    <bean name="/hello.pdf" class="springbook.temp.HelloController"/>-->

<!--    <bean id="marshaller" class="org.springframework.oxm.castor.CastorMarshaller"/>-->

<!--    <bean id="helloMarshallingView" class="org.springframework.web.servlet.view.xml.MarshallingView">-->
<!--        <property name="marshaller" ref="marshaller"/>-->
<!--        <property name="modelKey" value="info"/>-->
<!--    </bean>-->

<!--    <bean name="/helloByMarshaller" class="springbook.learningtest.spring.web.view.HelloByMarshallController"/>-->

    <bean id="helloPdfView" class="springbook.learningtest.spring.web.view.HelloPdfView"/>

<!--    <bean name="/helloPdf" class="springbook.learningtest.spring.web.view.HelloAboutPdfController"/>-->

    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>-->

    <!-- ContentNegotiatingViewResolver -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <!--<entry key="atom" value="application/atom+xml"/>-->
                <entry key="html" value="text/html"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <!-- InternalResourceViewResolver for JSP views -->
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/view/"/>
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <!-- Default view for JSON -->
                <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/>
                <bean class="springbook.learningtest.spring.web.view.HelloPdfView"/>
            </list>
        </property>
    </bean>

    <!-- Define ObjectMapper if necessary (optional) -->
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <context:component-scan base-package="springbook.learningtest.spring.web.exceptionhandler"/>

    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.RuntimeException">runtimeexception</prop>
            </props>
        </property>
        <property name="defaultErrorView" value="error/default"/>
    </bean>

    <bean class="springbook.learningtest.spring.web.atmvc.UserController"/>
    <bean class="springbook.learningtest.spring.web.atmvc.PrototypeBeanPropertyEditorController"/>
    <bean class="springbook.learningtest.spring.web.atmvc.converter.ConverterController"/>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="webBindingInitializer" ref="webBindingInitializer"/>
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="webBindingInitializer" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
        <property name="conversionService" ref="conversionService"/>
        <property name="validator" ref="validator"/>
    </bean>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean" primary="true">
        <!--GenericConversionService에 추가할 컨버터를 지정한다.-->
        <property name="converters">
            <set>
                <!--적용할 컨버터 빈 목록-->
                <bean class="springbook.learningtest.spring.web.atmvc.converter.LevelToStringConverter"/>
                <bean class="springbook.learningtest.spring.web.atmvc.converter.StringToLevelConverter"/>
            </set>
        </property>
    </bean>

    <bean class="springbook.learningtest.spring.web.atmvc.fomatter.FormatterController"/>
    <bean class="springbook.learningtest.spring.web.atmvc.webdatabinder.WebDataBinderController"/>

    <bean class="springbook.learningtest.spring.web.atmvc.validator.UserValidator"/>
    <bean class="springbook.learningtest.spring.web.atmvc.validator.ValidatorController"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <bean class="springbook.learningtest.spring.web.formTag.FormTagController"/>
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <bean class="springbook.learningtest.spring.web.formTag.FormTagLibController"/>

    <bean class="springbook.learningtest.spring.web.ajax.AjaxController"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean class="springbook.learningtest.spring.aspect.SimpleMornitoringAspect"/>
<!--    <mvc:annotation-driven/>-->

    <bean class="springbook.learningtest.spring.aspect.AspectController"/>
</beans>